<!DOCTYPE html >
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles/leaflet.css">
    <script type="text/javascript" src="js/leaflet.js"></script>
    <script type="text/javascript" src="js/jquery.min.js"></script>


    <!-- add our additional scripts -->
    <link rel="stylesheet" href="styles/style.css">
    <script type="text/javascript" src="js/iot.js"></script>

</head>

<!-- add map to body -->
<body onload="myFunction()">

<div id="map"></div>
</body>

</html>